body {
  background-color: #121212;
  background-image: url('/public/images/layered_maps.jpg');
  background-size: cover auto;
  background-repeat: no-repeat;
  background-attachment: fixed ;
}

header {
  position: sticky;
  top:0;
  padding-top: 20px;
  font-family: 'Alfa Slab One', cursive;
  color: #121212;
  background-color: rgba(255, 255, 255, 0.326);
}

header h2 {
  margin-left: 40px;
}

h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }
}

.container {
  width:800px;
  height: 500px;
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
  margin-top: 90px;
  /* margin-bottom: 1000px; */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: perspective(800px);
  backface-visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;
  /* border-radius: 30px; */
}

.container:hover .front{
  transform: rotateY(180deg);
}

.front ::before{
  content: '';
  position:absolute;
  bottom: -25px;
  width:50px;
  height:50px;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#719192, #96c5c7);
  transform: perspective(800px) rotate(0deg);
  backface-visibility: hidden;
  transition: all 0.5s;
  flex-direction:column;
  margin-left: 40px;
  font-size: larger;
  transform: rotateY(100deg);
  font-family: 'Nunito', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  /* border-radius: 10px; */
  border:1px solid #121212
}

.container:hover .back{
  transform: rotateY(0deg);
}

#flag-img{
  width:800px;
  height:500px;
}

#arms-img {
  width:200px;
  height:200px;
  margin-top: 10px;
}

.drop-down{
  font-family: 'Gentium Book Basic', serif;
  background-color: #9ba1a166;
  padding:5px;
  margin-left: 40px;
  font-size: medium;
  border-radius: 10px;
}

#map { height: 180px; }


























  
